@model IList<coreASPNETForms.Models.LoginView>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserList</title>
</head>
<body>
    <ul>
    @foreach (LoginView item in Model)
    {
        <li>Username: @item.Username/Password: @item.Password</li>
    }
    </ul>
</body>
</html>
